{# GNU General Public License version 2 or later; see LICENSE.txt#}

<!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
<p class="pull-right">A <a target="_blank" href="http://translator.joomla.org">Joomla Translator</a> by <a target="_blank" href="http://www.serrats.cat">Carles Serrats</a></p>

<p>&copy; 2005 - {{ now|date("Y") }} <a href="http://www.opensourcematters.org">Open Source Matters, Inc.</a></p>